<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ApiTestFramework</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ui/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/css/base.css' %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'ui/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'ui/js/angular.min.js' %}"></script>
</head>
<body ng-app="myApp">
{% verbatim %}
<div class="row" ng-controller="projectCtrl">
        <div class="col-md-4" ng-repeat="project in projects">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/projects/{{project.id}}">{{project.name}}</a></div>
              <div class="panel-body">
                  <p><a href="/projects/{{project.id}}/reports">Reports</a></p>
              </div>
            </div>
        </div>
</div>
{% endverbatim %}
</body>
</html>
<script>
var app = angular.module('myApp', []);
app.controller('projectCtrl', function ($scope, $http) {
    $scope.projects = [];
    $http.get("/apis/projects").
        then(function(response) {
            $scope.projects = response.data;
    });
});
</script>

<script type="text/javascript">
var CURRENT_REQUEST_ID = "";
var CURRENT_CASE_ID = "";

function getCaseOperations(caseId){
    $.getJSON( "/apis/cases/"+caseId+"/requests", function (data){
        $.each(data, function(){
            var object = this;
            var items = [];
            items.push( '<li class="case-item"> <div class="item-heading" name="operation" id="'+caseId+'-'+object["id"]+'">'+object["name"]+'</div></li>' );

            var ul = '<ul class="operation-tree">'+items.join( "" )+'</ul>'

            $("#"+caseId).parent().append(ul);
        });
    });
}

function getOperation(scopeId,operationId){
    CURRENT_REQUEST_ID = operationId;
    CURRENT_CASE_ID = scopeId;
    $.getJSON( "/apis/cases/"+scopeId+"/requests/"+operationId, function (data){

        $("#method").children().removeAttr("selected");
        $("#method option[value='"+data.method+"']").attr("selected","selected");

        $("#expect_status").attr("value",data.expect_status);
        $("#url").attr("value",data.url);
        $("#headers").html("");
        if (data.header!=""){
            var headerJSON =JSON.parse(data.header);
            $.each(headerJSON, function(name, value){
                var items = [];
                items.push('<td><input type="text" name="key" class="form-control" value="'+name+'"></td>');
                items.push('<td><input type="text" name="value"class="form-control" value="'+value+'"></td>');
                var tr = '<tr">'+items.join( "" )+'</tr>';
                $("#headers").append(tr);
            });
         }

         $("#parameters").html("");
         if (data.params!=""){
            var paramJSON =JSON.parse(data.params);
            $.each(paramJSON, function(name, value){
                var items = [];
                items.push('<td><input type="text" name="key" class="form-control" value="'+name+'"></td>');
                items.push('<td><input type="text" name="value" class="form-control" value="'+value+'"></td>');
                var tr = '<tr">'+items.join( "" )+'</tr>';
                $("#parameters").append(tr);
            });
         }
        $("#body").text(data.body);
        $("#validation").text(data.test_code);
        $("#wait_timeout").attr("value",data.wait_timeout);
        $("#wait_period").attr("value",data.wait_timeout);
        $("div.panel-default").show();
    });
}

function getModuleCases(moduleId){
    $.getJSON( "/apis/modules/"+moduleId+"/cases", function (data){
        $.each(data, function(){
            var object = this;
            var items = [];
            items.push( '<li class="case-item"> <div class="item-heading" name="case" id="'+object["id"]+'">'+object["name"]+' </div><span name="case" id="'+object["id"]+'" class="glyphicon glyphicon-plus"></span></li>' );

            var ul = '<ul class="case-tree">'+items.join( "" )+'</ul>'

            $("#"+moduleId).parent().append(ul);
        });
    });
}

function getProjectModules(projectId){
    $.getJSON( "/apis/projects/"+projectId+"/modules", function (data){
        $.each(data, function(){
            var object = this;
            var items = [];
            var module_id = object["id"];
            items.push( '<li class="module-item"> <div class="item-heading" name="module" id="'+object["id"]+'">'+object["name"]+' </div><span name="module" id="'+object["id"]+'" class="glyphicon glyphicon-plus"></span></li>' );
            $("ul.module-tree").append(items.join( "" ));
        });
    });
}

function deleteRequest(scopeId,requestId){

    $.ajax({
       url: '/apis/cases/'+scopeId+'/requests/'+requestId,
       type: 'DELETE',
       success: function(data){
                            alert("ok");
                        },
                        error: function(data){
                            alert("not ok");
                        }
    });
}

function saveRequest(scopeId,requestId,body){

    $.ajax({
       url: '/apis/cases/'+scopeId+'/requests/'+requestId,
       type: 'PUT',
       contentType: "application/json; charset=utf-8",
       data:JSON.stringify(body),
       dataType:"json",
       success: function(data){
                            alert("ok");
                        },
                        error: function(data){
                            alert("not ok");
                        }
    });
}

function getDataFromTable(tableId){
    var dict = {};
    alert($("#"+tableId).children().length);
    $.each($("#"+tableId).find("tr"), function(){
        var key = $(this).find("input[name='key']").val();
        var value = $(this).find("input[name='value']").val();
        dict[key] = value;
        alert(dict[key]);
    });
    return JSON.stringify(dict);
}

getProjectModules({{project_id}});

$(document).ready(function(){

    $( "#dialog-form" ).dialog({
      autoOpen: false,
    });

  $(".module-tree").on("click",".item-heading",function(){
      var children = $(this).nextAll("ul");
      var catalog_id = $(this).attr("id");
      var name = $(this).attr("name");
      if (children.length==0){
        if(name=="module"){
            getModuleCases(catalog_id);
        }
        else if(name=="case"){
            getCaseOperations(catalog_id);
        }
        else {
            var caseId = catalog_id.split("-")[0];
            var operationId = catalog_id.split("-")[1];
            getOperation(caseId,operationId);
        }
      }
      if (name!="operation"){
        $(this).nextAll("ul").toggle();
      }
  });

  $(".nav-tabs").on("click","li",function(){
        $(this).siblings().removeClass("active");
        $(this).attr("class","active");
        var name = $(this).attr("name");
        $(".request-block").hide();
        $("#"+name).show();

  });

  $("div.form").on("click","#save",function(){
        $.valHooks.textarea = {
          get: function( elem ) {
            return elem.value.replace( /\r?\n/g, "\r\n" );
          }
        };
       var data={};
       data["method"] = $("#method").val();
       data["url"] = $("#url").val();
       data["header"] = getDataFromTable("headers");
       data["params"] = getDataFromTable("parameters");
       alert(data["header"]);
       data["body"] = $("#body").val();
       data["expect_status"] = parseInt($("#expect_status").val());
       data["test_code"] = $("#validation").val();
       data["wait_timeout"] = parseInt($("#wait_timeout").val());
       data["wait_period"] = parseInt($("#wait_period").val());
       data["drive_data"] = "";
       saveRequest(CURRENT_CASE_ID,CURRENT_REQUEST_ID,data);

  });

  $("#delete").click(function(){
    deleteRequest(CURRENT_CASE_ID,CURRENT_REQUEST_ID);
  });

  $(".module-tree").on("click","span.glyphicon",function(){
        $("#dialog-form" ).dialog( "open" );
  });


});







</script>