<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ApiTestFramework</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ui/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'ui/ngDialog/css/ngDialog.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/ngDialog/css/ngDialog-theme-default.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static 'ui/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'ui/js/angular.min.js' %}"></script>
    <script src="{% static 'ui/popups/dist/angular-popups.js' %}"></script>
    <script src="{% static 'ui/ngDialog/js/ngDialog.min.js' %}"></script>
</head>
<body>

<div class="row">
    <div class="col-md-3">
        {% verbatim %}
        <div class="tree" ng-controller="treeData">
            <ul>
                <li ng-repeat="module in vm.navData" ng-class="{closed:vm.tree.isFolded(module)}">
                    <div>
                      <span ng-click="vm.tree.toggleModuleFold(module)">
                        <span class="glyphicon"
                              ng-class="vm.tree.isFolded(module)?'glyphicon-plus':'glyphicon-minus'"></span>
                        {{module.name}}
                      </span>
                      <span ng-click="openModuleEditor(module)">
                            edit
                      </span>
                      <span ng-click="deleteModule(module)">
                            delete
                      </span>
                    </div>
                    <ul ng-class="{hidden: vm.tree.isFolded(module)}">
                        <li ng-repeat="case in module.items">
                            <span ng-click="getOperations(case)">
                              {{case.name}}
                            </span>
                            <span ng-click="openCaseEditor(module, case)">
                                edit
                              </span>
                              <span ng-click="deleteCase(case)">
                                  delete
                              </span>
                        </li>
                        <li ng-click="openCaseEditor(module)">
                            <label>Add Case</label>
                        </li>
                    </ul>
                </li>
                <li ng-click="openModuleEditor()">
                    <label>Add Module</label>
                </li>
                <li><span ng-click="getOperations(project)"><label>Templates</label></span></li>
                <li><label ng-click="openVariableEditor()">Variables</label></li>
                <script type="text/ng-template" id="moduleEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Module</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Module</div>
                    <div class="dialog-contents">
                        <input id="module_id" type="text" ng-model="currentModule.id" hidden="true">
                        <div class="form-group">
                            <label for="module_name">Name</label>
                            <input id="module_name" type="text" ng-model="currentModule.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="module_desc">Description</label>
                            <textarea id="module_desc" ng-model="currentModule.desc" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="module_repeat">Repeat</label>
                            <input id="module_repeat" type="text" ng-model="currentModule.repeat" class="form-control">
                        </div>
                        <button ng-show="!saveFlag" ng-click="addModule(currentModule);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag" ng-click="updateModule(currentModule);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
                </script>
                <script type="text/ng-template" id="caseEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Case</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Case</div>
                    <div class="dialog-contents">
                        <input type="text" ng-model="currentParentModule.id" hidden="true">
                        <input id="case_id" type="text" ng-model="currentCase.id" hidden="true">
                        <div class="form-group">
                            <label for="case_name">Name</label>
                            <input id="case_name" type="text" ng-model="currentCase.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="case_desc">Description</label>
                            <textarea id="case_desc" ng-model="currentCase.desc" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="case_repeat">Repeat</label>
                            <input id="case_repeat" type="text" ng-model="currentCase.repeat" class="form-control">
                        </div>
                        <button ng-show="!saveFlag"
                                ng-click="addCase(currentParentModule,currentCase);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag"
                                ng-click="updateCase(currentParentModule,currentCase);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
                </script>
            </ul>
        </div>
        <ul ng-controller="functionCtrl">
            <label>Functions</label>
            <li ng-repeat="func in functionList">{{func.name}} <span ng-click="openFunctionEditor(func)">edit</span> <span ng-click="deleteFunction(func)">delete</span></li>
            <li ng-click="openFunctionEditor()">add Function</li>
        </ul>
        {% endverbatim %}
    </div>

    {% verbatim %}
    <div class="col-md-9" ng-controller="operationCtrl">
        <div class="list-group">
            <div class="form panel panel-default" ng-repeat="operation in operations">
                <div class="panel-heading">
                    Name:{{operation.name}}
                    <button type="button" class="btn btn-primary" ng-click="operationService.update(operation)">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="operationService.delete(operation)">Delete</button>
                    <span ng-click="showFlag=!showFlag" class="glyphicon glyphicon-resize-vertical"></span>
                </div>

                <div class="panel-body" ng-show="showFlag">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <select class="form-control" ng-model="operation.method">
                                <option value="get" selected="selected">GET</option>
                                <option value="post">POST</option>
                                <option value="put">PUT</option>
                                <option value="delete">DELETE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="operation.url">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Status Code</div>
                                <input class="form-control" ng-model="operation.expect_status" type="text">
                            </div>
                        </div>

                    </form>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" name="headers" ng-click="switchVar='headers'"
                            ng-class="{'active':switchVar=='headers'}"><a>Headers</a></li>
                        <li role="presentation" name="parameters" ng-click="switchVar='parameters'"
                            ng-class="{'active':switchVar=='parameters'}"><a>Parameters</a></li>
                        <li role="presentation" name="body" ng-click="switchVar='body'"
                            ng-class="{'active':switchVar=='body'}"><a>Body</a></li>
                        <li role="presentation" name="assert" ng-click="switchVar='assert'"
                            ng-class="{'active':switchVar=='assert'}"><a>Assert</a></li>
                        <li role="presentation" name="expectedBody" ng-click="switchVar='expectedBody'"
                            ng-class="{'active':switchVar=='expectedBody'}"><a>Expected Body</a></li>
                        <li role="presentation" name="extractor" ng-click="switchVar='extractor'"
                            ng-class="{'active':switchVar=='extractor'}"><a>Variable Extractor</a></li>
                        <li role="presentation" name="repeat" ng-click="switchVar='repeat'"
                            ng-class="{'active':switchVar=='repeat'}"><a>Repeat</a></li>
                    </ul>
                    <div ng-switch="switchVar">
                        <div ng-switch-default>
                            <table class="table table-hover">
                                <tr ng-repeat="header in operation.headers">
                                    <td><input type="text" ng-model="header.key" class="form-control" placeholder="key"></td>
                                    <td><input type="text" ng-model="header.value" class="form-control" placeholder="value"></td>
                                    <td><span class="glyphicon glyphicon-minus" ng-click="operationService.deleteHeader(operation,header)"></span></td>
                                </tr>
                            </table>
                            <span class="glyphicon glyphicon-plus" ng-click="operationService.addHeader(operation)"></span>
                        </div>
                        <div ng-switch-when="parameters">
                            <table class="table table-hover">
                                <tr ng-repeat="parameter in operation.parameters">
                                    <td><input type="text" ng-model="parameter.key" class="form-control" placeholder="key"></td>
                                    <td><input type="text" ng-model="parameter.value" class="form-control" placeholder="value"></td>
                                    <td><span class="glyphicon glyphicon-minus" ng-click="operationService.deleteParameters(operation,parameter)"></span></td>
                                </tr>
                            </table>
                            <span class="glyphicon glyphicon-plus" ng-click="operationService.addParameter(operation)"></span>
                        </div>
                        <div ng-switch-when="body">
                            <div class="form-group">
                                <textarea class="form-control request-block" ng-model="operation.body" rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="assert">
                            <div class="form-group">
                    <textarea class="form-control request-block" ng-model="operation.test_code"
                              rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="expectedBody">
                            <div class="form-group">
                                <textarea class="form-control"ng-model="operation.expected_body" rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="extractor">
                            <table class="table table-hover">
                                <tr ng-repeat="extractor in operation.extractors">
                                    <td><input type="text" ng-model="extractor.variable_name" class="form-control" placeholder="variable name">
                                    </td>
                                    <td><input type="text" ng-model="extractor.path" class="form-control"
                                               placeholder="variable path"></td>
                                </tr>
                            </table>
                            <span class="glyphicon glyphicon-plus"ng-click="operationService.addExtractor(operation)"></span>
                        </div>
                        <div ng-switch-when="repeat">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Timeout</div>
                                        <input class="form-control"ng-model="operation.wait_timeout">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Period</div>
                                        <input class="form-control" ng-model="operation.wait_period">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form panel panel-default">
                <div class="panel-heading" >
                    <button ng-click="openOperationEditor(operation)">Add Operation</button>
                </div>
            </div>
        </div>
        <button ng-click="runCase()">Run This Case</button>
        <button ng-click="runProject()">Run Project</button>
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Pass:{{result.pass}} Fail:{{result.fail}} Error:{{result.error}}Status:{{result.status}}</h3>
              </div>
              <div class="panel-body">
                <ul>
                    <li ng-repeat="case in result.cases">
                        <label ng-click="showFlag=!showFlag">{{case.name}} <span class="label" ng-class="{'label-success':case.result=='Pass','label-warning':case.result=='Fail','label-danger':case.result=='Error'}">{{case.result}}</span></label>
                        <ul ng-hide="showFlag">
                            <li ng-repeat="log in case.logs">
                                <label ng-click="logShowFlag=!logShowFlag">{{log.name}} <span class="label" ng-class="{'label-default':log.assert_result=='Skip','label-success':log.assert_result=='Pass','label-warning':log.assert_result=='Fail','label-danger':log.assert_result=='Error'}">{{log.assert_result}}</span>Type:{{log.type}}</label>
                                <table class="table table-hover" ng-show="logShowFlag">
                                    <tbody>
                                    <tr>
                                        <td>Time</td>
                                        <td>{{log.create_time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Info</td>
                                        <td>{{log.operation_info}}</td>
                                    </tr>
                                    <tr>
                                        <td>Result</td>
                                        <td>{{log.operation_result}}</td>
                                    </tr>
                                    <tr>
                                        <td>Assert Info</td>
                                        <td>{{log.assert_info}}</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        <script type="text/ng-template" id="operationEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Operation</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Operation</div>
                    <div class="dialog-contents">
                        <input type="text" ng-model="currentOperation.id" hidden="true">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" ng-model="currentOperation.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-model="currentOperation.desc" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Skip Next</label>
                            <input type="text" ng-model="currentOperation.skip_next" class="form-control">
                        </div>
                        <select class="form-control" ng-model="selectedTemplate">
                                <option ng-repeat="template in templates " ng-value="template">{{template.name}}</option>
                        </select>
                        <button ng-show="!saveFlag" ng-click="operationService.add(currentOperation,selectedTemplate);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag" ng-click="updateOperation(currentOperation);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
                </script>
        <script type="text/ng-template" id="functionEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Function</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Function</div>
                    <div class="dialog-contents">
                        <input type="text" ng-model="currentFunction.id" hidden="true">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" ng-model="currentFunction.desc" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <textarea ng-model="currentFunction.code" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <button ng-show="!saveFlag" ng-click="addFunction(currentFunction);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag" ng-click="updateFunction(currentFunction);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
        </script>
        <script type="text/ng-template" id="variableEditor">
                    <div class="dialog-title">Update Variable</div>
                    <div class="dialog-contents">
                        <table class="table table-hover">
                                <tr ng-repeat="variable in project.variables">
                                    <td><input type="text" ng-model="variable.key" class="form-control" placeholder="key"></td>
                                    <td><input type="text" ng-model="variable.value" class="form-control" placeholder="value"></td>
                                    <td><span class="glyphicon glyphicon-minus" ng-click="deleteVariable(variable)"></span></td>
                                </tr>
                            </table>
                        <span class="glyphicon glyphicon-plus" ng-click="addVariable()"></span>
                        <button ng-click="updateVariables();closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
        </script>
    </div>
    {% endverbatim %}
</div>


<script>

Array.prototype.indexOf = function(val) {
    for (var i = 0; i < this.length; i++) {
        if (this[i] == val) return i;
    }
return -1;
};

Array.prototype.remove = function(val) {
    var index = this.indexOf(val);
    if (index > -1) {
        this.splice(index, 1);
    }
};

var app = angular.module('myApp', ['angular-popups','ngDialog']);

app.factory('TreeData', function($q, $http,ngDialog) {

  function TreeData(cbIsSame) {
    var _this = this;
    this.tree = [];
    this.isSame = cbIsSame || function(item1, item2) { return item1 === item2 };
    /**
     * 折叠/展开
     * @param item {Object}
     * @param folded
     * @private
     */
    this._fold = function(item, folded) {
      item.folded = folded;
    };
    /**
     * 折叠指定的节点
     * @param item {Object}
     */
    this.fold = function(item) {
      this._fold(item, true);
    };
    /**
     * 展开指定的节点
     * @param item {Object}
     */
    this.unfold = function(item) {
      this._fold(item, false);
    };
    /**
     * 切换节点的折叠状态
     * @param item {Object}
     */
    this.toggleFold = function(item) {
      this._fold(item, !item.folded);
    };

    /**
     * 检查指定节点的折叠状态
     * @param item {Object}
     * @returns {boolean}
     */
    this.isFolded = function(item) {
      return !item.folded;
    };

    /**
     * 添加子节点
     * @param module {Object}
     * @param item {Object}
     */
    this.addCase = function(module,item){
      module.items.push(item);
    };

    /**
     * 添加父节点
     */
    this.addModule = function(module){
         _this.tree.push(module);
    };

    /**
     * 更新节点
     * @param item {Object}
     */
    this.updateItem = function(item){

    };

    /**
     * 删除节点
     * @param item {Object}
     */
    this.deleteItem = function(item){

    };

    /**
     * 获得module全部节点
     * @returns items []
     */
    this.init = function(){
        var d = $q.defer();
        $http.get("/apis/projects/{{project_id}}/modules").
        then(function success(response) {
            _this.tree = response.data;
            d.resolve(response.data);
        });
        return d.promise;
    };


    /**
     * 切换module节点的折叠状态
     * @param item {Object}
     */
    this.toggleModuleFold = function(item) {
      this._fold(item, !item.folded);
      $http.get("/apis/modules/"+item.id+"/cases").
        then(function(response) {
            item["items"] = response.data;
        });
    };

  }
  return TreeData;
});

app.service('OperationList', function($q, $http) {
    var self = this;
    this.fuck = "default";
    this.list = [];
    this.testCase = {};
    this.report = {};
    this.initList = function(testCase) {
        self.testCase = testCase;
        $http.get("/apis/cases/"+testCase.id+"/requests").
        then(function(response) {
            self.list.splice(0,self.list.length);
            for (var i=0;i<response.data.length;i++){
                self.list.push(response.data[i]);
            }
        });
    };

    this.add = function(operation, template){
          $http({
                method: 'POST',
                url: "/apis/cases/"+self.testCase.id+"/requests",
                data: operation
                }).
            then(function(response) {
                self.list.push(response.data);
                if(typeof(template)!="undefined"){
                       template.name = response.data.name;
                       template.desc = response.data.desc;
                       template.catalog = response.data.catalog;
                       template.id = response.data.id;
                       self.list[self.list.length-1] = template;
                       self.update(template);
                }
            });
    };

    this.update = function(operation){

      $http({
            method: 'PUT',
            url: "/apis/cases/"+operation.catalog+"/requests/"+operation.id,
            data: operation
            }).
        then(function(response) {
            console.log(operation);
        });
    };

    this.delete = function(operation){
        $http.delete("/apis/cases/"+operation.catalog+"/requests/"+operation.id).
        then(function(response) {
            alert("ok");
            self.list.remove(operation);
        });
    };

    this.addHeader = function(operation){
        operation.headers.push({key:'',value:''});
    };

    this.deleteHeader = function(operation,header){
        operation.headers.remove(header);
    };

    this.deleteParameters = function(operation,parameter){
        operation.parameters.remove(parameter);
    };

    this.addParameter = function(operation){
        operation.parameters.push({key:'',value:''});
    };

    this.addExtractor = function(operation){
        operation.extractors.push({variable_name:'',path:''});
    };

});

app.controller('treeData', function ($scope, $http, TreeData, ngDialog, OperationList) {
  var vm = $scope.vm = {};
  vm.tree = new TreeData();
  var projectId = {{project_id}};
  $scope.project = {id:projectId};

  $http.get("/apis/projects/"+projectId).
        then(function(response) {
            $scope.project = response.data;
  });

  $scope.openVariableEditor = function () {
        ngDialog.open({ template: 'variableEditor', className: 'ngdialog-theme-default',scope: $scope });
  };

  $scope.addVariable = function(){
        $scope.project.variables.push({key:"", value:""});
  };

  $scope.deleteVariable = function (variable){
        $scope.project.variables.remove(variable);
  };

  $scope.updateVariables = function (){
        $http({
            method: 'PUT',
            url: "/apis/projects/"+$scope.project.id,
            data: $scope.project
            }).
        then(function(response) {
            $scope.project = response.data;
        });
  };

  vm.tree.init().then(function(ret){
    vm.navData = ret;
  });

  $scope.openModuleEditor = function (module) {
        $scope.saveFlag = true;
        if(typeof(module)=="undefined"){
            $scope.saveFlag = false;
        }
        $scope.currentModule = module;
        ngDialog.open({ template: 'moduleEditor', className: 'ngdialog-theme-default',scope: $scope });
    };

  $scope.openCaseEditor = function (module,item) {
        $scope.saveFlag = true;
        if(typeof(item)=="undefined"){
            $scope.saveFlag = false;
        }
        $scope.currentParentModule = module;
        $scope.currentCase = item;
        ngDialog.open({ template: 'caseEditor', className: 'ngdialog-theme-default',scope: $scope });
   };

  $scope.addModule = function (module){
      var myData = {};
      myData["parent"] = {{project_id}};
      myData["name"] = module.name;
      myData["desc"] = module.desc;
      myData["repeat"] = module.repeat;
      myData["priority"] = 1;

      $http({
            method: 'POST',
            url: "/apis/modules",
            data: myData
            }).
        then(function(response) {
            vm.tree.addModule(response.data);
        });

  };

  $scope.updateModule = function(module){
          var myData = {};
          myData["name"] = module.name;
          myData["desc"] = module.desc;
          myData["repeat"] = module.repeat;
          myData["priority"] = 1;

          $http({
                method: 'PUT',
                url: "/apis/modules/"+module.id,
                data: myData
                }).
            then(function(response) {
                alert("ok");
                module = response.data;
        });
  };


  $scope.deleteModule = function(module){
    $http.delete("/apis/modules/"+module.id).
        then(function(response) {
            alert("ok");
            module = {name:'deleted'};
        });
  };

  $scope.addCase = function (module,item){
      var myData = {};
      myData["parent"] = module.id;
      myData["name"] = item.name;
      myData["desc"] = item.desc;
      myData["repeat"] = item.repeat;
      myData["priority"] = 1;

      $http({
            method: 'POST',
            url: "/apis/cases",
            data: myData
            }).
        then(function(response) {
            vm.tree.addCase(module,response.data);
        });

  };

  $scope.updateCase = function(module,item){
          var myData = {};
          myData["name"] = item.name;
          myData["desc"] = item.desc;
          myData["repeat"] = item.repeat;
          myData["priority"] = 1;

          $http({
                method: 'PUT',
                url: "/apis/cases/"+item.id,
                data: myData
                }).
            then(function(response) {
                alert("ok");
                item = response.data;
        });
  };

  $scope.deleteCase = function(item){
    $http.delete("/apis/cases/"+item.id).
        then(function(response) {
            alert("ok");
            item = {name:'deleted'};
        });
  };

  $scope.getOperations = function(testCase){
        OperationList.initList(testCase);
  };

});

app.controller('operationCtrl', function ($scope, $http,$interval, OperationList,ngDialog) {
  $scope.operationService = OperationList
  $scope.operations = $scope.operationService.list;
  $scope.projectId = {{project_id}};
  $scope.openOperationEditor = function (operation) {
        $scope.saveFlag = true;
        if(typeof(operation)=="undefined"){
            $scope.saveFlag = false;
        }
        $scope.currentOperation = operation;
        ngDialog.open({ template: 'operationEditor', className: 'ngdialog-theme-default',scope: $scope });
  };

  $scope.templates = [];
  $scope.selectedTemplate = undefined;
  $http.get("/apis/projects/"+$scope.projectId+"/requests").
        then(function(response) {
            $scope.templates = response.data
  });

  $scope.runCase = function(){
        $http.get("/apis/run/"+$scope.operationService.testCase.id).
        then(function(response) {
            $scope.operationService.report = response.data;
            $interval.cancel($scope.refreshPromise);
            $scope.refresh();
            $scope.refreshPromise = $interval($scope.refresh,1000);
        });
  };

  $scope.runProject = function(){
        $http.get("/apis/run/"+$scope.projectId).
        then(function(response) {
            $scope.operationService.report = response.data;
            $interval.cancel($scope.refreshPromise);
            $scope.refresh();
            $scope.refreshPromise = $interval($scope.refresh,1000);
        });
  };

  $scope.refresh = function(){
        $http.get("/apis/projects/"+$scope.projectId+"/reports/"+$scope.operationService.report.id).
                then(function(response) {
                    $scope.result = response.data;
                    if($scope.result.status == 'finished'){
                        $interval.cancel($scope.refreshPromise);
                    }
        });
    };

  $scope.getResult = function(report){
        $interval.cancel($scope.refreshPromise);
        $scope.currentReport = report;
        $scope.refresh();
        $scope.refreshPromise = $interval($scope.refresh,1000);
    };

});


app.controller('functionCtrl', function($scope, $http, ngDialog){
    $scope.functionList = [];
    $scope.projectId = {{project_id}};


    $http.get("/apis/projects/"+$scope.projectId+"/functions").
        then(function(response) {
            $scope.functionList = response.data;
    });

    $scope.addFunction = function(func){
        $http({
                method: 'POST',
                url: "/apis/projects/"+$scope.projectId+"/functions",
                data: func
                }).
            then(function(response) {
                $scope.functionList.push(response.data);
        });
    };
    $scope.updateFunction = function(func){
        $http({
                method: 'PUT',
                url: "/apis/projects/"+$scope.projectId+"/functions/"+func.id,
                data: func
                }).
            then(function(response) {
                alert("ok");
        });
    };
    $scope.deleteFunction = function(func){
        $http({
                method: 'DELETE',
                url: "/apis/projects/"+$scope.projectId+"/functions/"+func.id,
                }).
            then(function(response) {
                $scope.functionList.remove(func);
        });
    };

    $scope.openFunctionEditor = function(func){
            $scope.saveFlag = true;
            if(typeof(func)=="undefined"){
                $scope.saveFlag = false;
            }
            $scope.currentFunction = func;
            ngDialog.open({ template: 'functionEditor', className: 'ngdialog-theme-default',scope: $scope });
    };

});


</script>

</body>
</html>