<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ApiTestFramework</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ui/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'ui/ngDialog/css/ngDialog.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/ngDialog/css/ngDialog-theme-default.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static 'ui/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'ui/js/angular.min.js' %}"></script>
    <script src="{% static 'ui/popups/dist/angular-popups.js' %}"></script>
    <script src="{% static 'ui/ngDialog/js/ngDialog.min.js' %}"></script>
</head>
<body ng-app="myApp">
<div class="row">
    <div class="col-md-3">
        <ul class="module-tree">

        </ul>
    </div>
    <div class="col-md-9">
        <div class="form panel panel-default " style="display: none;">
            <div class="panel-heading">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <select id="method" class="form-control">
                            <option value="get" selected="selected">GET</option>
                            <option value="post">POST</option>
                            <option value="put">PUT</option>
                            <option value="delete">DELETE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="url">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Status Code</div>
                            <input id="expect_status" class="form-control" type="text">
                        </div>
                    </div>
                    <button id="save" type="button" class="btn btn-primary">Save</button>
                    <button id="delete" type="button" class="btn btn-danger">Delete</button>
                </form>
            </div>

            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" name="headers" class="active"><a href="#">Headers</a></li>
                    <li role="presentation" name="parameters"><a href="#">Parameters</a></li>
                    <li role="presentation" name="body"><a href="#">Body</a></li>
                    <li role="presentation" name="validation"><a href="#">Validation</a></li>
                    <li role="presentation" name="extractor"><a href="#">Variable Extractor</a></li>
                    <li role="presentation" name="repeat"><a href="#">Repeat</a></li>
                </ul>
                <table id="headers" class="table table-hover request-block">
                    <tr>
                        <td><input type="text" name="key" class="form-control" placeholder="key"></td>
                        <td><input type="text" name="value" class="form-control" placeholder="value"></td>
                    </tr>
                </table>
                <table id="parameters" style="display: none;" class="table table-hover request-block">
                    <tr>
                        <td><input type="text" name="key" class="form-control" placeholder="key"></td>
                        <td><input type="text" name="value" class="form-control" placeholder="value"></td>
                    </tr>
                </table>
                <div class="form-group">
                    <textarea id="body" style="display: none;" class="form-control request-block" rows="8"></textarea>
                </div>

                <div class="form-group">
                    <textarea id="validation" style="display: none;" class="form-control request-block"
                              rows="8"></textarea>
                </div>
                <table id="extractor" style="display: none;" class="table table-hover request-block">
                    <tr>
                        <td><input type="text" name="key" class="form-control" placeholder="variable name"></td>
                        <td><input type="text" name="value" class="form-control" placeholder="variable path"></td>
                    </tr>
                </table>
                <form id="repeat" style="display: none;" class="request-block form-inline" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Timeout</div>
                            <input id="wait_timeout" class="form-control" type="text" value="0">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Period</div>
                            <input id="wait_period" class="form-control" type="text" value="0">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3" ng-controller="treeData">
        {% verbatim %}
        <div class="tree">
            <ul>
                <li ng-repeat="module in vm.navData" ng-class="{closed:vm.tree.isFolded(module)}">
                    <div>
                      <span ng-click="vm.tree.toggleModuleFold(module)">
                        <span class="glyphicon"
                              ng-class="vm.tree.isFolded(module)?'glyphicon-plus':'glyphicon-minus'"></span>
                        {{module.name}}
                      </span>
                      <span ng-click="openModuleEditor(module)">
                            edit
                      </span>
                      <span ng-click="deleteModule(module)">
                            delete
                      </span>
                    </div>
                    <ul ng-class="{hidden: vm.tree.isFolded(module)}">
                        <li ng-repeat="case in module.items">
                            <span ng-click="getOperations(case)">
                              {{case.name}}
                            </span>
                            <span ng-click="openCaseEditor(module, case)">
                                edit
                              </span>
                              <span ng-click="deleteCase(case)">
                                  delete
                              </span>
                        </li>
                        <li ng-click="openCaseEditor(module)">
                            <label>Add Case</label>
                        </li>
                    </ul>
                </li>
                {% endverbatim %}
                <li ng-click="openModuleEditor()">
                    <label>Add Module</label>
                </li>
                <script type="text/ng-template" id="moduleEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Module</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Module</div>
                    <div class="dialog-contents">
                        <input id="module_id" type="text" ng-model="currentModule.id" hidden="true">
                        <div class="form-group">
                            <label for="module_name">Name</label>
                            <input id="module_name" type="text" ng-model="currentModule.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="module_desc">Description</label>
                            <textarea id="module_desc" ng-model="currentModule.desc" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="module_repeat">Repeat</label>
                            <input id="module_repeat" type="text" ng-model="currentModule.repeat" class="form-control">
                        </div>
                        <button ng-show="!saveFlag" ng-click="addModule(currentModule);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag" ng-click="updateModule(currentModule);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
                </script>

                <script type="text/ng-template" id="caseEditor">
                    <div ng-show="!saveFlag" class="dialog-title">Add Case</div>
                    <div ng-show="saveFlag" class="dialog-title">Update Case</div>
                    <div class="dialog-contents">
                        <input type="text" ng-model="currentParentModule.id" hidden="true">
                        <input id="case_id" type="text" ng-model="currentCase.id" hidden="true">
                        <div class="form-group">
                            <label for="case_name">Name</label>
                            <input id="case_name" type="text" ng-model="currentCase.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="case_desc">Description</label>
                            <textarea id="case_desc" ng-model="currentCase.desc" class="form-control"
                                      rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="case_repeat">Repeat</label>
                            <input id="case_repeat" type="text" ng-model="currentCase.repeat" class="form-control">
                        </div>
                        <button ng-show="!saveFlag"
                                ng-click="addCase(currentParentModule,currentCase);closeThisDialog()"
                                class="btn btn-primary">Save
                        </button>
                        <button ng-show="saveFlag"
                                ng-click="updateCase(currentParentModule,currentCase);closeThisDialog()"
                                class="btn btn-primary">Update
                        </button>
                    </div>
                </script>

            </ul>
        </div>
    </div>
    {% verbatim %}
    <div class="col-md-9" ng-controller="operationCtrl">
        <div class="list-group">
            <div class="form panel panel-default" ng-repeat="operation in operations">
                <div class="panel-heading" ng-click="showFlag=!showFlag">
                    Name:{{operation.name}}
                </div>

                <div class="panel-body" ng-show="showFlag">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <select class="form-control" ng-model="operation.method">
                                <option value="get" selected="selected">GET</option>
                                <option value="post">POST</option>
                                <option value="put">PUT</option>
                                <option value="delete">DELETE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="operation.url">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Status Code</div>
                                <input class="form-control" ng-model="operation.expect_status" type="text">
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </form>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" name="headers" ng-click="switchVar='headers'"
                            ng-class="{'active':switchVar=='headers'}"><a href="#">Headers</a></li>
                        <li role="presentation" name="parameters" ng-click="switchVar='parameters'"
                            ng-class="{'active':switchVar=='parameters'}"><a href="#">Parameters</a></li>
                        <li role="presentation" name="body" ng-click="switchVar='body'"
                            ng-class="{'active':switchVar=='body'}"><a href="#">Body</a></li>
                        <li role="presentation" name="validation" ng-click="switchVar='validation'"
                            ng-class="{'active':switchVar=='validation'}"><a href="#">Validation</a></li>
                        <li role="presentation" name="expectedBody" ng-click="switchVar='expectedBody'"
                            ng-class="{'active':switchVar=='expectedBody'}"><a href="#">Expected Body</a></li>
                        <li role="presentation" name="extractor" ng-click="switchVar='extractor'"
                            ng-class="{'active':switchVar=='extractor'}"><a href="#">Variable Extractor</a></li>
                        <li role="presentation" name="repeat" ng-click="switchVar='repeat'"
                            ng-class="{'active':switchVar=='repeat'}"><a href="#">Repeat</a></li>
                    </ul>
                    <div ng-switch="switchVar">
                        <div ng-switch-default>
                            <table class="table table-hover request-block">
                                <tr>
                                    <td><input type="text" name="key" class="form-control" placeholder="key"></td>
                                    <td><input type="text" name="value" class="form-control" placeholder="value"></td>
                                </tr>
                            </table>
                        </div>
                        <div ng-switch-when="Parameters">
                            <table class="table table-hover request-block">
                                <tr>
                                    <td><input type="text" name="key" class="form-control" placeholder="key"></td>
                                    <td><input type="text" name="value" class="form-control" placeholder="value"></td>
                                </tr>
                            </table>
                        </div>
                        <div ng-switch-when="body">
                            <div class="form-group">
                                <textarea class="form-control request-block" ng-model="operation.body" rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="validation">
                            <div class="form-group">
                    <textarea class="form-control request-block" ng-model="operation.test_code"
                              rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="expectedBody">
                            <div class="form-group">
                                <textarea class="form-control"ng-model="operation.expected_body" rows="8"></textarea>
                            </div>
                        </div>
                        <div ng-switch-when="extractor">
                            <table class="table table-hover request-block">
                                <tr>
                                    <td><input type="text" name="key" class="form-control" placeholder="variable name">
                                    </td>
                                    <td><input type="text" name="value" class="form-control"
                                               placeholder="variable path"></td>
                                </tr>
                            </table>
                        </div>
                        <div ng-switch-when="repeat">
                            <form class="request-block form-inline" role="form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Timeout</div>
                                        <input class="form-control"ng-model="operation.wait_timeout" type="text" value="0">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Period</div>
                                        <input class="form-control" ng-model="operation.wait_period"type="text" value="0">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form panel panel-default">
                <div class="panel-heading" >
                    Add Operation
                </div>
                </div>
        </div>
    </div>
    {% endverbatim %}
</div>


<script>

var app = angular.module('myApp', ['angular-popups','ngDialog']);
app.factory('TreeData', function($q, $http,ngDialog) {

  function TreeData(cbIsSame) {
    var _this = this;
    this.tree = [];
    this.isSame = cbIsSame || function(item1, item2) { return item1 === item2 };
    /**
     * 折叠/展开
     * @param item {Object}
     * @param folded
     * @private
     */
    this._fold = function(item, folded) {
      item.folded = folded;
    };
    /**
     * 折叠指定的节点
     * @param item {Object}
     */
    this.fold = function(item) {
      this._fold(item, true);
    };
    /**
     * 展开指定的节点
     * @param item {Object}
     */
    this.unfold = function(item) {
      this._fold(item, false);
    };
    /**
     * 切换节点的折叠状态
     * @param item {Object}
     */
    this.toggleFold = function(item) {
      this._fold(item, !item.folded);
    };

    /**
     * 检查指定节点的折叠状态
     * @param item {Object}
     * @returns {boolean}
     */
    this.isFolded = function(item) {
      return !item.folded;
    };

    /**
     * 添加子节点
     * @param module {Object}
     * @param item {Object}
     */
    this.addCase = function(module,item){
      module.items.push(item);
    };

    /**
     * 添加父节点
     */
    this.addModule = function(module){
         _this.tree.push(module);
    };

    /**
     * 更新节点
     * @param item {Object}
     */
    this.updateItem = function(item){

    };

    /**
     * 删除节点
     * @param item {Object}
     */
    this.deleteItem = function(item){

    };

    /**
     * 获得module全部节点
     * @returns items []
     */
    this.init = function(){
        var d = $q.defer();
        $http.get("/apis/projects/{{project_id}}/modules").
        then(function success(response) {
            _this.tree = response.data;
            d.resolve(response.data);
        });
        return d.promise;
    };


    /**
     * 切换module节点的折叠状态
     * @param item {Object}
     */
    this.toggleModuleFold = function(item) {
      this._fold(item, !item.folded);
      $http.get("/apis/modules/"+item.id+"/cases").
        then(function(response) {
            item["items"] = response.data;
        });
    };

  }
  return TreeData;
});

app.service('OperationList', function($q, $http) {
    var self = this;
    this.fuck = "default";
    this.list = [];
    this.initList = function(testCase) {
        $http.get("/apis/cases/"+testCase.id+"/requests").
        then(function(response) {
            self.list.splice(0,self.list.length);
            for (var i=0;i<response.data.length;i++){
                self.list.push(response.data[i]);
            }
        });
    };

    this.updateOperation(operation){


    };
});

app.controller('treeData', function ($scope, $http, TreeData, ngDialog, OperationList) {
  var vm = $scope.vm = {};
  vm.tree = new TreeData();

  vm.tree.init().then(function(ret){
    vm.navData = ret;
  });

  $scope.openModuleEditor = function (module) {
        $scope.saveFlag = true;
        if(typeof(module)=="undefined"){
            $scope.saveFlag = false;
        }
        $scope.currentModule = module;
        ngDialog.open({ template: 'moduleEditor', className: 'ngdialog-theme-default',scope: $scope });
    };

  $scope.openCaseEditor = function (module,item) {
        $scope.saveFlag = true;
        if(typeof(item)=="undefined"){
            $scope.saveFlag = false;
        }
        $scope.currentParentModule = module;
        $scope.currentCase = item;
        ngDialog.open({ template: 'caseEditor', className: 'ngdialog-theme-default',scope: $scope });
   };

  $scope.addModule = function (module){
      var myData = {};
      myData["parent"] = {{project_id}};
      myData["name"] = module.name;
      myData["desc"] = module.desc;
      myData["repeat"] = module.repeat;
      myData["priority"] = 1;

      $http({
            method: 'POST',
            url: "/apis/modules",
            data: myData
            }).
        then(function(response) {
            vm.tree.addModule(response.data);
        });

  };

  $scope.updateModule = function(module){
          var myData = {};
          myData["name"] = module.name;
          myData["desc"] = module.desc;
          myData["repeat"] = module.repeat;
          myData["priority"] = 1;

          $http({
                method: 'PUT',
                url: "/apis/modules/"+module.id,
                data: myData
                }).
            then(function(response) {
                alert("ok");
                module = response.data;
        });
  };


  $scope.deleteModule = function(module){
    $http.delete("/apis/modules/"+module.id).
        then(function(response) {
            alert("ok");
            module = {name:'deleted'};
        });
  };

  $scope.addCase = function (module,item){
      var myData = {};
      myData["parent"] = module.id;
      myData["name"] = item.name;
      myData["desc"] = item.desc;
      myData["repeat"] = item.repeat;
      myData["priority"] = 1;

      $http({
            method: 'POST',
            url: "/apis/cases",
            data: myData
            }).
        then(function(response) {
            vm.tree.addCase(module,response.data);
        });

  };

  $scope.updateCase = function(module,item){
          var myData = {};
          myData["name"] = item.name;
          myData["desc"] = item.desc;
          myData["repeat"] = item.repeat;
          myData["priority"] = 1;

          $http({
                method: 'PUT',
                url: "/apis/cases/"+item.id,
                data: myData
                }).
            then(function(response) {
                alert("ok");
                item = response.data;
        });
  };

  $scope.deleteCase = function(item){
    $http.delete("/apis/cases/"+item.id).
        then(function(response) {
            alert("ok");
            item = {name:'deleted'};
        });
  };

  $scope.getOperations = function(testCase){
        OperationList.initList(testCase);
  };

});

app.controller('operationCtrl', function ($scope, $http, OperationList) {
  $scope.operations = OperationList.list;
});




</script>

</body>
</html>