<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ui/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui/css/base.css' %}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'ui/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'ui/js/angular.min.js' %}"></script>
</head>
<body ng-app="myApp">
{% verbatim %}
<div class="row" ng-controller="reportCtrl">
        <div class="col-md-3">
            <ul>
                <li ng-repeat="report in reports" ng-click="getResult(report)">{{report.start_time}}</li>
            </ul>
        </div>

        <div class="col-md-9">
            <table class="table table-hover" ng-repeat="log in logs">
                <thead ng-click="showFlag=!showFlag">
                    <td>Assert Result</td>
                    <td>{{log.assert_result}}</td>
                </thead>
                <tbody ng-show="showFlag">
                <tr>
                    <td>Time</td>
                    <td>{{log.create_time}}</td>
                </tr>
                <tr>
                    <td>Module</td>
                    <td>{{log.module_name}}</td>
                </tr>
                <tr>
                    <td>Case</td>
                    <td>{{log.case_name}}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{log.type}}</td>
                </tr>
                <tr>
                    <td>Info</td>
                    <td>{{log.operation_info}}</td>
                </tr>
                <tr>
                    <td>Result</td>
                    <td>{{log.operation_result}}</td>
                </tr>
                <tr>
                    <td>Assert Result</td>
                    <td>{{log.assert_result}}</td>
                </tr>
                <tr>
                    <td>Assert Info</td>
                    <td>{{log.assert_info}}</td>
                </tr>
                </tbody>

            </table>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Pass:{{result.pass}} Fail:{{result.fail}} Error:{{result.error}}Status:{{result.status}}</h3>
              </div>
              <div class="panel-body">
                <ul>
                    <li ng-repeat="case in result.cases">
                        <label ng-click="showFlag=!showFlag">{{case.name}} <span class="label" ng-class="{'label-success':case.result=='Pass','label-warning':case.result=='Fail','label-danger':case.result=='Error'}">{{case.result}}</span></label>
                        <ul ng-hide="showFlag">
                            <li ng-repeat="log in case.logs">
                                <label ng-click="logShowFlag=!logShowFlag">{{log.name}} <span class="label" ng-class="{'label-default':log.assert_result=='Skip','label-success':log.assert_result=='Pass','label-warning':log.assert_result=='Fail','label-danger':log.assert_result=='Error'}">{{log.assert_result}}</span>Type:{{log.type}}</label>
                                <table class="table table-hover" ng-show="logShowFlag">
                                    <tbody>
                                    <tr>
                                        <td>Time</td>
                                        <td>{{log.create_time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Info</td>
                                        <td>{{log.operation_info}}</td>
                                    </tr>
                                    <tr>
                                        <td>Result</td>
                                        <td>{{log.operation_result}}</td>
                                    </tr>
                                    <tr>
                                        <td>Assert Info</td>
                                        <td>{{log.assert_info}}</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>

        </div>
</div>
{% endverbatim %}
</body>
</html>

<script>
var app = angular.module('myApp', []);
app.controller('reportCtrl', function ($scope, $http, $interval) {
    $scope.projectId = {{project_id}};
    $scope.reports = [];
    $scope.result = {};

    $http.get("/apis/projects/"+$scope.projectId+"/reports").
        then(function(response) {
            $scope.reports = response.data;
    });

    $scope.refresh = function(){
        $http.get("/apis/projects/"+$scope.projectId+"/reports/"+$scope.currentReport.id).
                then(function(response) {
                    $scope.result = response.data;
                    if($scope.result.status == 'finished'){
                        $interval.cancel($scope.refreshPromise);
                    }
        });
    };

    $scope.getResult = function(report){
        $interval.cancel($scope.refreshPromise);
        $scope.currentReport = report;
        $scope.refresh();
        $scope.refreshPromise = $interval($scope.refresh,1000);
    };
});
</script>